@font-face{
    font-family: ppmori;
    src: url(./ppmori-regular.woff2);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
    padding: 0px 70px;
    font-family: ppmori;
}
.spacer{
    width: 100%;
    height: 100px;
}

header{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
header .LogoDiv img{
    width: 150px;
    height: 100%;
    object-fit: contain;
}
header nav{
    display: flex;
    align-items: center;
    gap: 35px;
}
header nav a{
    text-decoration: none;
    color: #111;
    font-size: 18px;
    font-weight: 600;
}
header nav a:hover{
    color: #bcd85f;
}
header nav button{
    padding: 10px 15px;
    word-spacing: 4px;
    background-color: transparent;
    border: 1px solid #111;
    cursor: pointer;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
}
header nav button:hover{
    background-color: #bcd85f;
    border-color: #bcd85f;
    color: white;
    transition: all ease-in-out 0.3s;
}
.First-Section{
    width: 100%;
}
.First-Section .content{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.First-Section .content .first{
    width: 40%;
}
.First-Section .content .first h4{
    padding-bottom: 15px;
    font-size: 50px;
}
.First-Section .content .first h4 span{
    background-color: #bcd85f;
    padding: 0px 10px;
    color: white;
}
.First-Section .content .first p{
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #555;
}
.First-Section .content .first button{
    background-color: black;
    border: 1px solid black;
    padding: 15px 30px;
    word-spacing: 3px;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    /* transition: all ease-in-out 0.3s; */
}
.First-Section .content .first button:hover{
    background-color: transparent;
    color: black;
}
.First-Section .content .second{
    height: 100%;
    width: 60%;
    position: relative;
}
.First-Section .content .second img{
    height: 100%;
    width: 500px;
    object-fit: contain;
    position: absolute;
    right: 0;
}
.companySlider{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.companySlider img{
    filter: grayscale(1);
}
.Services-Section{
    width: 100%;
}
.Services-Section .Heading{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding-bottom: 75px;
}
.Services-Section .Heading h4{
    background-color: #bcd85f;
    font-size: 50px;
    font-weight: 900;
    padding: 15px 5px 0px;
    border-radius: 2px;
}
.Services-Section .Heading p{
    width: 50%;
    font-size: 20px;
    color: #555;
    font-weight: 500;
}
.Services-Section .Cards-Container{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    
}
.Services-Section .Cards-Container .card{
    border: 2px solid black;
    padding: 30px 20px;
    border-radius: 30px;
    box-shadow: 0px 7px 0px black;
    display: flex;
    justify-content: space-between;
}
.Services-Section .Cards-Container .black-card{
    background-color: black;
}
.Services-Section .Cards-Container .card .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}
.Services-Section .Cards-Container .card .content h4{
    font-size: 45px;
    font-weight: 900;
    line-height: 50px;
}
.Services-Section .Cards-Container .card .content h4 span{
    padding: 6px;
    border-radius: 7px;
}
.Services-Section .Cards-Container .white-card .content h4 span{
    background-color: #bcd85f;
}
.Services-Section .Cards-Container .black-card .content h4 span{
    background-color: white;
}
.Services-Section .Cards-Container .card .content .Icon-Div{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: fit-content  ;
}
.Services-Section .Cards-Container .card .content .Icon-Div h6{
    font-size: 16px;
    word-spacing: 3px;
}
.Services-Section .Cards-Container .black-card .content .Icon-Div h6{
    color: white;
}
.Img-Div{
    height: 100%;
    display: flex;
    align-items: center;
}

.Banner-Div{
    width: 100%;
    height: 350px;
    background-color: #5555551a;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.Banner-Div .content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 50%;
}
.Banner-Div .content h4{
    font-size: 35px;
}
.Banner-Div .content p{
    color: #555;
    /* font-size: 20px; */
    line-height: 25px;
}
.Banner-Div .content button{
    width: fit-content;
    color: white;
    background-color: #111;
    padding: 20px 40px;
    outline: none;
    border: 1px solid #111;
    border-radius: 7px;
    font-size: 20px;
    word-spacing: 3px;
    font-weight: 700;
    cursor: pointer;
    /* box-shadow: 0px 5px 0px #111; */
    transition: all ease-in-out 0.3s;
}
.Banner-Div .content button:hover{
    background-color: transparent;
    color: #111;
    box-shadow: 0px 7px 0px #111;
}
.Banner-Div .Img-Div {
    padding-right: 50px;
}
.Banner-Div .Img-Div img{
    width: 300px;
}